.handhour {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: 0%;
  transform: rotate(90deg);
}

.clock {
  position: relative;
  width: 260px;
  height: 260px;
  border: 8px solid #333;
  border-radius: 50%;
  margin: 30px auto;
  background: white;
}

.hand {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: 0% 50%;
}

.hour {
  width: 60px;
  height: 5px;
  background: black;
}

.minute {
  width: 90px;
  height: 3px;
  background: black;
}

.second {
  width: 110px;
  height: 2px;
  background: red;
}

.center-dot {
  position: absolute;
  width: 12px;
  height: 12px;
  background: black;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.number {
  position: absolute;
  top: 45%;
  left: 47%;
  transform-origin: center;
  font-size: 18px;
  font-weight: bold;
}


.number:nth-of-type(1)  { transform: rotate(0deg)   translateY(-105px); }
.number:nth-of-type(2)  { transform: rotate(30deg)  translateY(-105px); }
.number:nth-of-type(3)  { transform: rotate(60deg)  translateY(-105px); }
.number:nth-of-type(4)  { transform: rotate(90deg)  translateY(-105px); }
.number:nth-of-type(5)  { transform: rotate(120deg) translateY(-105px); }
.number:nth-of-type(6)  { transform: rotate(150deg) translateY(-105px); }
.number:nth-of-type(7)  { transform: rotate(180deg) translateY(-105px); }
.number:nth-of-type(8)  { transform: rotate(210deg) translateY(-105px); }
.number:nth-of-type(9)  { transform: rotate(240deg) translateY(-105px); }
.number:nth-of-type(10) { transform: rotate(270deg) translateY(-105px); }
.number:nth-of-type(11) { transform: rotate(300deg) translateY(-105px); }
.number:nth-of-type(12) { transform: rotate(330deg) translateY(-105px); }



.dropdown {
  padding: 8px;
  font-size: 16px;
}
